* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 30px;
  /*width: 500px;*/
  height: 500px;
  position: relative;
}


.image-to-show {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 0.5s;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  text-align: center
}

button {
  padding: 5px
}

button:hover {
  cursor: pointer;
}